@font-face {
  font-family: 'PrimaryFont';
  src: url('./assets/fonts/Rubik-Medium.ttf');
}

@font-face {
  font-family: 'PrimaryBold';
  src: url('./assets/fonts/Rubik-Bold.ttf');
}

@font-face {
  font-family: 'PrimaryLight';
  src: url('./assets/fonts/Rubik-Light.ttf');
}



@font-face {
  font-family: 'SecondaryFont';
  src: url('./assets/fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'SecondaryBoldFont';
  src: url('./assets/fonts/Inter-SemiBold.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-row {
  display: flex;
  flex-direction: row;  
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-start {
  justify-content: start;
}


.design-h1 {
  font-size: 40px;
  font-family: PrimaryFont;
  margin-bottom: 0;
  margin-top: 15px;
}
.design-h1-desc {
  margin-top: 8px;
  font-size: 24px;
  font-family: PrimaryLight;
}
.design-h3 {
  margin: 15px 0 8px 0;
  font-family: SecondaryBoldFont;
  font-size: 20px;
  font-weight: 400;
}
.gray {
  color: #828282;
}
.design-info {
  margin-right: 3em;
  font-size: 18px;
  font-family: PrimaryLight;
  margin-bottom: 15px;
  display: inline-block;
}
.design-para {
  font-family: SecondaryFont;
  font-size: 18px;
  line-height: 1.8em;
  margin: 0;
  padding-bottom: 22px;
}

.design-span {
  font-family: SecondaryFont;
  font-size: 18px;
  line-height: 1.8em;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.center-mg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.padding-25 {
  padding: 25px;
}

.max-width-100 {
  max-width: 100%;
}

.width-30 {
  width: 30%;
}

.width-70 {
  width: 70%;
}

.width-50 {
  width: 50%;
}

.styleless-link {
  text-decoration: none;
}
.styleless-link:visited {
  text-decoration: none;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

